#page-header {
    /*width: 100vw;*/
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

#page-header .top-bar-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

#page-header .top-bar-container > img {
    height: 1.6rem;
}

#page-header .top-bar-container a {
    height: 3rem;
    transition: opacity 0.2s;
}

#page-header .top-bar-container a:hover {
    opacity: 0.6;
}


#page-header .header-content {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

#page-header .header-content strong {
    font: 700 3rem Archivo;
    line-height: 4rem;
    color: var(--color-title-in-primary)
}

#page-study main {
    margin: 3.2rem auto;
    width: 90%;
}

@media (min-width: 700px) {
    #page-header {
        height: 240px;
    }

    #page-header .header-content {
        flex: 1;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}