#page-study {
    width: 100vw;
    height: 100vh;
}

#page-study main {
    margin: 3.2rem auto;
    width: 90%;
    max-width: 700px;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary)
}

@media (min-width: 700px) {
    #page-study {
        max-width: 100%;
    }

    #search-teachers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -2rem;
    }

    #search-teachers .input-block + .input-block,
    #search-teachers .select-block + .input-block,
    #search-teachers .textarea-block + .input-block,
    #search-teachers .input-block + .select-block,
    #search-teachers .select-block + .select-block,
    #search-teachers .textarea-block + .select-block,
    #search-teachers .input-block + .textarea-block,
    #search-teachers .select-block + .textarea-block,
    #search-teachers .textarea-block + .textarea-block {
        margin-top:  0;
    }

    #search-teachers .input-block:focus-within::after {
        bottom: 0;
    }

    #page-study main {
        padding: 32px 0;
    }
}